<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/dist/output.css' | relative_url }}">
</head>
<body class="bg-gray-100">
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>
